body{
    background-color: wheat;
}
.navbar {
    background-color: wheat !important;
    font-weight: 650;
}
.counter {
    /* border: 1px solid black; */
    background-color: #c33939;
    border-radius: 4px;
    padding: 0 4px;
    color: white;
}
.title {
    font-weight: 700;
    font-size: large;
}
.title a{
    color: #c33939 !important;
}
.title a:visited{
    color: #824646 !important;
}
.title a:hover{
    color: #f54848 !important;
}
i {
    color: #bd9e9e;
    font-size: small;
}
i.fa-external-link-alt {
    color: wheat;
    font-size: small;
}
.i-fake {
    color: #bd9e9e !important;
}
blockquote a {
    color: #708190;
    text-decoration: none;
}
blockquote a:hover {
    color: #434f5a;
    text-decoration: none;
}
.side-nav a{
    background-color:  #c33939;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding: 1px 4px;
}

.star-color {
    color: goldenrod;
}
h5 i {
    color: black;
    font-size: large;
}

.footer-copyright {
    background-color: #c33939;
    color: white;
}
.footer-link {
    background-color: #824646;
}

.nav {
    border-color: red;
}
.active-s{
    color: #d82222 !important;
    background-color: wheat !important;
    border-color: red red wheat !important;
}
.nav .nav-link{
    font-weight: 600;
    color: #6c757d;
}
.nav-link:hover{
    color: #d82222 !important;
    background-color: wheat !important;
    border-color: red red wheat !important;
}

.fav-rit {
    color: rgb(204, 16, 16);
}