{% extends 'base.html' %}

{% block main_content %}
<div class="col-lg-5">
 <h5 class="info-title">INFORMATION</h5>
 <ul class="list-st list-st-2">
    <li>Email: <a href="mailto:kuldeepjhinjer212@gmail.com">kuldeepjhinjer212@gmail.com</a></li>
    <li>Github: <a href="https://github.com/jhinger2121" target="_blank">www.github.com/jhinger2121</a></li>
 </ul>

 <h5 class="info-title">Projects</h5>
 <ul class="list-st-2">
    <li><a href="https://djangoarticle.herokuapp.com/" target="_blank">News Aggregator - www.djangoarticle.herokuapp.com</a></li>
    <li><a href="https://madblog.herokuapp.com/" target="_blank">Django Blog</a></li>
    <li><a href="https://shorteneri.herokuapp.com/" target="_blank">Link Shorter</a></li>
    <li><a href="https://notesking.herokuapp.com/" target="_blank">Notes Making</a></li>
    <li><a href="https://jhinjerportfolio.herokuapp.com/" target="_blank">My Portfolio</a></li>
    <li><a href="https://paintbee.ca/" target="_blank">Drawing Application - www.paintbee.ca</a></li>
    <li><a href="https://newmaze.ca/" target="_blank">Maze Generator - www.newmaze.ca</a></li>
    <li><a href="www.github.com/jhinger2121" target="_blank">Tic Tac Toe</a></li>
 </ul>

 <h5 class="info-title">EDUCATION</h5>
 <P class="my-college">
    <ul class="list-st list-st-2">
        <li><span>Conestoga College, Kitchener, Ontario — Web Design and Development</span><br>
        <small><span>GPA: </span> <span>3.59</span></small><br>
        <small><span>September 2020 - December 2021</span></small></li>
    </ul>
</P>

</div>
<div class="col-lg-7">
    <div class="owner-name">
        <h1>Kuldeep Jhinjer</h1>
    </div>
    <div class="owner-discription">
        <p>Hello there, My name is kuldeep Singh jhinjer  I just finished my Web design and development course at Conestoga college Kitchener. Now I continue to develop myself I have built many projects one of them is this one and all of my projects are available on GitHub publicly.</p>
        <p>Right now my focus is on contributing to open source projects which will improve my skills a lot like understanding someone else code and developing my thoughts.</p>
        <p>If you are someone that help with their projects or want to build something from the ground with Python/Django or Javascript please feel free to reach up to me I would love to be a part of it. I have been building websites for almost a year.</p>
    </div>
</div>
{% endblock %}